@use "./variables" as *;

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Medium.ttf") format("ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Semibold.ttf") format("ttf");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "SF Pro Text";
  font-size: 16px;
}

h2 {
  color: $black;
}

p {
  color: $black;
}

.text-header-bold {
  font-size: 1rem;
  font-weight: $font-weight-bold;
}

.text-regular {
  font-size: 0.9rem;
  font-weight: $font-weight-regular;
}

.text-medium {
  font-size: 0.8rem;
  font-weight: $font-weight-medium;
}

.text-semibold {
  font-size: 0.9rem;
  font-weight: $font-weight-semibold;
}

.text-bold {
  font-size: 0.9rem;
  font-weight: $font-weight-bold;
}
