@use "./variables" as *;

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Medium.ttf") format("ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Semibold.ttf") format("ttf");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/Font/FontsFree-Net-SFProText-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "SF Pro Text";
  font-size: 16px;
}

h2 {
  color: $black;
}

h3 {
  font-weight: $font-weight-bold;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.6;
}

p {
  color: $black;
  font-size: 0.82rem;
  text-align: center;
  line-height: 1.6;
}

.button {
  font-size: 0.82rem;
  text-align: center;
  font-weight: $font-weight-bold;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.stats-text {
  color: $black;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
}
