//COLORS
//LIGHT THEME
$blue: rgb(56, 152, 243);
$dark-blue: rgb(16, 70, 125);
$soft-red: rgb(237, 73, 86);

$black: rgb(37, 37, 37);
$dark-grayish: rgb(154, 154, 154);
$grayish: rgb(199, 199, 199);
$light-grayish: rgb(218, 218, 218);
$white: rgb(250, 250, 250);

$black-opacity: rgba(37, 37, 37, 65%);
$light-grayish-opacity: rgba(218, 218, 218, 50%);

$mobile-padding: 4vw;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$max-width: 938px;

//Maps
$breakpoints: (
  // 400px
  xs: 25em,
  // 544px
  ms: 34em,
  // 768px
  md: 48em,
  // 960px
  lg: 60em,
  // 1280px
  xl: 80em,
  // 1440px
  xxl: 90em
);
