@use "../../../scss/variables" as *;

.story {
  display: grid;
  gap: 0.4rem;

  &__image-container {
    padding: 4px;
    display: grid;
    place-content: center;
    border: 1px solid $grayish;
    border-radius: 50%;
  }

  &__image {
    border-radius: 50%;
  }

  &__title {
    justify-self: center;
  }
}
