@use "../../assets/scss/variables" as *;

.content {
  grid-area: content;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem $mobile-padding 0 $mobile-padding;
  }

  &__bio {
    display: flex;
    align-items: start;
    padding: 0 $mobile-padding;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0 $mobile-padding;
  }
}
