@use "../../assets/scss/variables" as *;

.header {
  z-index: 1;
  position: sticky;
  top: 0;

  padding: 1rem $mobile-padding;
  background-color: $white;
  border-bottom: 1px solid $light-grayish;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__username {
    cursor: pointer;
  }
}
