@use '../../scss/variables' as *;

.header {
  position: sticky;
  top: 0;

  border-bottom: 1px solid $light-grayish;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mobile-padding;

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__username {
    cursor: pointer;
  }
}
