@use '../../scss/variables' as *;

.navbar {
  z-index: 1;
  position: sticky;
  bottom: 0;

  padding: $mobile-padding;
  background-color: $white;
  border-top: 1px solid $light-grayish;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    place-content: center;
    cursor: pointer;

    &:hover svg {
      path {
        fill: red;
      }
    }
  }

  &__image {
    border-radius: 50%;
    border: 1.5px solid $black;
  }
}
