@use "../../assets/scss/variables" as *;

.story-list {
  padding: 0 $mobile-padding;
  display: flex;
  gap: 0.938rem;
  overflow-x: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
