@use "../../assets/scss/variables" as *;

.overlay {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-opacity;
  transition: all 0.25s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}
