@use "./assets/scss/variables" as *;

.app {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "navbar";
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
}
